{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="article-list article-list--masonry">
        {{ range $index, $element := $paginator.Pages }}
            <div class="masonry-item">
                {{ partial "article-list/default" . }}
            </div>
            {{/* Ad unit after every 3rd article (index 2, 5, 8, ...) */}}
            {{ if and (gt $index 0) (eq (mod (add $index 1) 3) 0) }}
                <div class="masonry-item masonry-item--ad">
                    {{ partial "ad-unit.html" (dict "Site" $.Site "slot" $.Site.Params.ads.feedSlot) }}
                </div>
            {{ end }}
            {{/* CTA after the 5th card */}}
            {{ if eq $index 4 }}
                <div class="masonry-item masonry-item--cta masonry-item--full">
                    {{ partial "cta-workwhale.html" . }}
                </div>
            {{ end }}
        {{ end }}
        {{/* CTA after last article if fewer than 5 exist */}}
        {{ if lt (len $paginator.Pages) 5 }}
            <div class="masonry-item masonry-item--cta masonry-item--full">
                {{ partial "cta-workwhale.html" . }}
            </div>
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
